<div class="container pt-4 pb-4">
    <div class="row">
        <div class="col-sm">
            <a routerLink="/companies"><button class="btn btn-warning pull-right" > < Back</button></a>
        </div>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-body">
            <form (ngSubmit)="onSubmit()" ngNativeValidate>
                <div class="form-group">
                    <label for="name">Edit Company</label>
                    <input type="text" class="form-control" [(ngModel)]="company.name" name=" " required autofocus/>
                </div>

                <button type="submit" class="btn btn-success">Update</button>
            </form>
        </div>
    </div>
</div>